---
author: "Юрій Клебан"
---

# MS Excel (xlsx)

You need this packages for code execution:

In [78]:
# install.packages("xlsx")

In [79]:
invisible(Sys.setlocale("LC_ALL", "Ukrainian"))
invisible(options(warn=-1))

---

## XLSX-format

There are many packages to read/write MS Excel files. `xlsx` one of the most useful.

In [96]:
# install.packages("xlsx") #install before use it

In [185]:
library(xlsx)

In [186]:
any(grepl("xlsx", installed.packages())) # check if package installed

[1] TRUE

**`?read.xlsx`** - review package functions and params

Let's read the data `telecom_users.xlsx`:

In [189]:
data <- read.xlsx("../../data/telecom_users.xlsx", sheetIndex = 1)
# sheetIndex = 1 - select sheet to read, or use sheetName = "sheet1" to read by Name
head(data)

  customerID gender SeniorCitizen Partner Dependents tenure PhoneService
1 7010-BRBUU Male   0             Yes     Yes        72     Yes
2 9688-YGXVR Female 0             No      No         44     Yes
3 9286-DOJGF Female 1             Yes     No         38     Yes
4 6994-KERXL Male   0             No      No          4     Yes
5 2181-UAESM Male   0             No      No          2     Yes
6 4312-GVYNH Female 0             Yes     No         70     No
  MultipleLines    InternetService OnlineSecurity      ... DeviceProtection
1 Yes              No              No internet service ... No internet service
2 No               Fiber optic     No                  ... Yes
3 Yes              Fiber optic     No                  ... No
4 No               DSL             No                  ... No
5 No               DSL             Yes                 ... Yes
6 No phone service DSL             Yes                 ... Yes
  TechSupport         StreamingTV         StreamingMovies     Contract
1 No internet service No internet service No internet service Two year
2 No                  Yes                 No                  Month-to-month
3 No                  No                  No                  Month-to-month
4 No                  No                  Yes                 Month-to-month
5 No                  No                  No                  Month-to-month
6 Yes                 No                  Yes                 Two year
  PaperlessBilling PaymentMethod             MonthlyCharges TotalCharges Churn
1 No               Credit card (automatic)   24.10          1734.65      No
2 Yes              Credit card (automatic)   88.15          3973.20      No
3 Yes              Bank transfer (automatic) 74.95          2869.85      Yes
4 Yes              Electronic check          55.90           238.50      No
5 No               Electronic check          53.45           119.50      No
6 Yes              Bank transfer (automatic) 49.85          3370.20      No

In [190]:
# You can also use startRow, endRow and other params to define how much data read
data <- read.xlsx("../../data/telecom_users.xlsx", sheetIndex = 1, endRow = 100)
head(data)

  customerID gender SeniorCitizen Partner Dependents tenure PhoneService
1 7010-BRBUU Male   0             Yes     Yes        72     Yes
2 9688-YGXVR Female 0             No      No         44     Yes
3 9286-DOJGF Female 1             Yes     No         38     Yes
4 6994-KERXL Male   0             No      No          4     Yes
5 2181-UAESM Male   0             No      No          2     Yes
6 4312-GVYNH Female 0             Yes     No         70     No
  MultipleLines    InternetService OnlineSecurity      ... DeviceProtection
1 Yes              No              No internet service ... No internet service
2 No               Fiber optic     No                  ... Yes
3 Yes              Fiber optic     No                  ... No
4 No               DSL             No                  ... No
5 No               DSL             Yes                 ... Yes
6 No phone service DSL             Yes                 ... Yes
  TechSupport         StreamingTV         StreamingMovies     Contract
1 No internet service No internet service No internet service Two year
2 No                  Yes                 No                  Month-to-month
3 No                  No                  No                  Month-to-month
4 No                  No                  Yes                 Month-to-month
5 No                  No                  No                  Month-to-month
6 Yes                 No                  Yes                 Two year
  PaperlessBilling PaymentMethod             MonthlyCharges TotalCharges Churn
1 No               Credit card (automatic)   24.10          1734.65      No
2 Yes              Credit card (automatic)   88.15          3973.20      No
3 Yes              Bank transfer (automatic) 74.95          2869.85      Yes
4 Yes              Electronic check          55.90           238.50      No
5 No               Electronic check          53.45           119.50      No
6 Yes              Bank transfer (automatic) 49.85          3370.20      No

Let's replace `Churn` values `Yes`/`No` by `1`/`0`:

In [101]:
head(data$Churn)

[1] "No"  "No"  "Yes" "No"  "No"  "No"

In [102]:
data$Churn <- ifelse(data$Churn == "Yes", 1, 0)

In [103]:
head(data$Churn)

[1] 0 0 1 0 0 0

Write final data to excel:

In [191]:
write.xlsx(data, file = "../../data/final_telecom_data.xlsx")

---

## Task 1

Download from kaggle.com and read dataset `Default_Fin.csv`: 
https://www.kaggle.com/kmldas/loan-default-prediction

_Description:_

This is a synthetic dataset created using actual data from a financial institution. The data has been modified to remove identifiable features and the numbers transformed to ensure they do not link to original source (financial institution).

This is intended to be used for academic purposes for beginners who want to practice financial analytics from a simple financial dataset

- [x] `Index` - This is the serial number or unique identifier of the loan taker
- [x] `Employed`     - This is a Boolean 1= employed 0= unemployed 
- [x] `Bank.Balance` - Bank Balance of the loan taker
- [x] `Annual.Salary` - Annual salary of the loan taker  
- [x] `Defaulted` - This is a Boolean 1= defaulted 0= not defaulted

1. Check what columns has missing values
2. Count default and non-default clients / and parts of total clients in %
3. Count Employed clients
4. Count Employed Default clients
5. Average salary by Employed clients
6. Rename columns to "id", "empl", "balance", "salary", "default"

---

**Solution for Task 1**

In [145]:
data <- read.csv("../../data/Default_Fin.csv")
head(data)

  Index Employed Bank.Balance Annual.Salary Defaulted.
1 1     1         8754.36     532339.56     0
2 2     0         9806.16     145273.56     0
3 3     1        12882.60     381205.68     0
4 4     1         6351.00     428453.88     0
5 5     1         9427.92     461562.00     0
6 6     0        11035.08      89898.72     0

> 1. Check what columns has missing values

In [106]:
anyNA(data)

[1] FALSE

> 2. Count default and non-default clients / and parts of total clients in %

In [107]:
def_count <- nrow(data[data$Defaulted. == 1, ])
no_def_count <- nrow(data[data$Defaulted. == 0, ])
def_count
no_def_count

[1] 333

[1] 9667

In [108]:
def_count / nrow(data) * 100 # part defaults
no_def_count / nrow(data) * 100 # part non-defaults

[1] 3.33

[1] 96.67

> 3. Count Employed clients

In [109]:
empl <- data[data$Employed == 1, ]
nrow(empl)

[1] 7056

> 4. Count Employed Default clients

In [110]:
empl <- data[data$Employed == 1 & data$Defaulted. == 1, ]
nrow(empl)

[1] 206

> 5. Average salary by Employed clients

In [111]:
empl <- data[data$Employed == 1, ]
mean(empl$Annual.Salary)

[1] 480143.4

> 6. Rename columns to "id", "empl", "balance", "salary", "default":

In [112]:
colnames(data) <- c("id", "empl", "balance", "salary", "default")
head(data)

  id empl balance  salary    default
1 1  1     8754.36 532339.56 0
2 2  0     9806.16 145273.56 0
3 3  1    12882.60 381205.68 0
4 4  1     6351.00 428453.88 0
5 5  1     9427.92 461562.00 0
6 6  0    11035.08  89898.72 0

---

## Набори даних

1. https://github.com/kleban/r-book-published/tree/main/datasets/telecom_users.csv
2. https://github.com/kleban/r-book-published/tree/main/datasets/telecom_sers.xlsx
3. https://github.com/kleban/r-book-published/tree/main/datasets/Default_Fin.csv
4. https://github.com/kleban/r-book-published/tree/main/datasets/employes.xml

---

## References

1. [SQLite in R. Datacamp](https://www.datacamp.com/community/tutorials/sqlite-in-r)
2. [Tidyverse googlesheets4 0.2.0](https://www.tidyverse.org/blog/2020/05/googlesheets4-0-2-0/)
<!-- 3. [Telecom users dataset. Practice classification with a telco dataset.Kaggle](https://www.kaggle.com/radmirzosimov/telecom-users-dataset) -->
4. [Binanace spot Api Docs](https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#klinecandlestick-data)
5. [Web Scraping in R: rvest Tutorial](https://www.datacamp.com/community/tutorials/r-web-scraping-rvest) by Arvid Kingl