---

author: Юрій Клебан

---

# Sorting with  **`arrange()`**

Before start load packages

In [2]:
library(dplyr) # for demos
#install.packages("gapminder")
library(gapminder)  # load package and dataset

`arrange(.data, …)` function order rows by values of a column or columns (low to high)You can use with `desc()` to order from high to low. 

For example, we need to select top 10 countries in 2002  by lifeExp variable.

In [3]:
data2002 <- gapminder |>  
                filter(year == 2002) |>
                top_n(10, lifeExp) # select top 10 by lifeExp value
data2002

   country          continent year lifeExp pop       gdpPercap
1  Australia        Oceania   2002 80.370   19546792 30687.75
2  Canada           Americas  2002 79.770   31902268 33328.97
3  Hong Kong, China Asia      2002 81.495    6762476 30209.02
4  Iceland          Europe    2002 80.500     288030 31163.20
5  Israel           Asia      2002 79.696    6029529 21905.60
6  Italy            Europe    2002 80.240   57926999 27968.10
7  Japan            Asia      2002 82.000  127065841 28604.59
8  Spain            Europe    2002 79.780   40152517 24835.47
9  Sweden           Europe    2002 80.040    8954175 29341.63
10 Switzerland      Europe    2002 80.620    7361757 34480.96

In [8]:
# sort by pop
t <- data2002 |> arrange(pop) # you can use 1 or more sorting params like arrange(pop, year)
head(t)

  country          continent year lifeExp pop      gdpPercap
1 Iceland          Europe    2002 80.500    288030 31163.20
2 Israel           Asia      2002 79.696   6029529 21905.60
3 Hong Kong, China Asia      2002 81.495   6762476 30209.02
4 Switzerland      Europe    2002 80.620   7361757 34480.96
5 Sweden           Europe    2002 80.040   8954175 29341.63
6 Australia        Oceania   2002 80.370  19546792 30687.75

In [10]:
# sort by pop descending
t <- data2002 |> arrange(desc(pop))
head(t)

  country   continent year lifeExp pop       gdpPercap
1 Japan     Asia      2002 82.00   127065841 28604.59
2 Italy     Europe    2002 80.24    57926999 27968.10
3 Spain     Europe    2002 79.78    40152517 24835.47
4 Canada    Americas  2002 79.77    31902268 33328.97
5 Australia Oceania   2002 80.37    19546792 30687.75
6 Sweden    Europe    2002 80.04     8954175 29341.63

---

## Refences

1. [dplyr: A Grammar of Data Manipulation](https://cran.r-project.org/web/packages/dplyr/index.html) on https://cran.r-project.org/.
2. [Data Transformation with splyr::cheat sheet](https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf).
3. [DPLYR TUTORIAL : DATA MANIPULATION (50 EXAMPLES)](https://www.listendata.com/2016/08/dplyr-tutorial.html) by Deepanshu Bhalla.
5. [Dplyr Intro](https://stat545.com/dplyr-intro.html) by Stat 545.
6.[R Dplyr Tutorial: Data Manipulation(Join) & Cleaning(Spread)](https://www.guru99.com/r-dplyr-tutorial.html). Introduction to Data Analysis
7. [Loan Default Prediction. Beginners data set for financial analytics Kaggle](https://www.kaggle.com/kmldas/loan-default-prediction)