---

author: Юрій Клебан

---

# Create new variables with **`mutate()`**

Before start load packages

In [3]:
library(dplyr) # for demos
#install.packages("gapminder")
library(gapminder)  # load package and dataset

`mutate(.data, …)` compute new column(s). 
Lets compute new column for `gapminder`

$gdpTotal = gdpPercap * pop / 1000000$.

In [4]:
gapminder |> 
    mutate(gdpTotal = gdpPercap * pop) |>
    head(10)

   country     continent year lifeExp pop      gdpPercap gdpTotal
1  Afghanistan Asia      1952 28.801   8425333 779.4453   6567086330
2  Afghanistan Asia      1957 30.332   9240934 820.8530   7585448670
3  Afghanistan Asia      1962 31.997  10267083 853.1007   8758855797
4  Afghanistan Asia      1967 34.020  11537966 836.1971   9648014150
5  Afghanistan Asia      1972 36.088  13079460 739.9811   9678553274
6  Afghanistan Asia      1977 38.438  14880372 786.1134  11697659231
7  Afghanistan Asia      1982 39.854  12881816 978.0114  12598563401
8  Afghanistan Asia      1987 40.822  13867957 852.3959  11820990309
9  Afghanistan Asia      1992 41.674  16317921 649.3414  10595901589
10 Afghanistan Asia      1997 41.763  22227415 635.3414  14121995875

`transmute(.data, …)` compute new column(s), drop others.

In [5]:
gapminder |>
    transmute(gdpTotal = gdpPercap * pop) |>
    head(10)

   gdpTotal
1   6567086330
2   7585448670
3   8758855797
4   9648014150
5   9678553274
6  11697659231
7  12598563401
8  11820990309
9  10595901589
10 14121995875

You can `mutate` many columns at once:

In [6]:
gapminder |>
    mutate(gdpTotal = gdpPercap * pop,
           countryUpper = toupper(country), # uppercase country
           lifeExpRounded = round(lifeExp)) |>
    head(10)

   country     continent year lifeExp pop      gdpPercap gdpTotal
1  Afghanistan Asia      1952 28.801   8425333 779.4453   6567086330
2  Afghanistan Asia      1957 30.332   9240934 820.8530   7585448670
3  Afghanistan Asia      1962 31.997  10267083 853.1007   8758855797
4  Afghanistan Asia      1967 34.020  11537966 836.1971   9648014150
5  Afghanistan Asia      1972 36.088  13079460 739.9811   9678553274
6  Afghanistan Asia      1977 38.438  14880372 786.1134  11697659231
7  Afghanistan Asia      1982 39.854  12881816 978.0114  12598563401
8  Afghanistan Asia      1987 40.822  13867957 852.3959  11820990309
9  Afghanistan Asia      1992 41.674  16317921 649.3414  10595901589
10 Afghanistan Asia      1997 41.763  22227415 635.3414  14121995875
   countryUpper lifeExpRounded
1  AFGHANISTAN  29
2  AFGHANISTAN  30
3  AFGHANISTAN  32
4  AFGHANISTAN  34
5  AFGHANISTAN  36
6  AFGHANISTAN  38
7  AFGHANISTAN  40
8  AFGHANISTAN  41
9  AFGHANISTAN  42
10 AFGHANISTAN  42

You also can edit existing column (let's change `continent Europe` to `EU` in dataframe):

In [9]:
data2002 <- gapminder |> filter(year == 2002) 
head(data2002)

data2002 |>
    mutate(continent = as.character(continent), # convert factor -> character 
           continent = ifelse(continent == "Europe", "EU", continent))

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      2002 42.129  25268405   726.7341
2 Albania     Europe    2002 75.651   3508512  4604.2117
3 Algeria     Africa    2002 70.994  31287142  5288.0404
4 Angola      Africa    2002 41.003  10866106  2773.2873
5 Argentina   Americas  2002 74.340  38331121  8797.6407
6 Australia   Oceania   2002 80.370  19546792 30687.7547

    country                  continent year lifeExp pop        gdpPercap
1   Afghanistan              Asia      2002 42.129    25268405   726.7341
2   Albania                  EU        2002 75.651     3508512  4604.2117
3   Algeria                  Africa    2002 70.994    31287142  5288.0404
4   Angola                   Africa    2002 41.003    10866106  2773.2873
5   Argentina                Americas  2002 74.340    38331121  8797.6407
6   Australia                Oceania   2002 80.370    19546792 30687.7547
7   Austria                  EU        2002 78.980     8148312 32417.6077
8   Bahrain                  Asia      2002 74.795      656397 23403.5593
9   Bangladesh               Asia      2002 62.013   135656790  1136.3904
10  Belgium                  EU        2002 78.320    10311970 30485.8838
11  Benin                    Africa    2002 54.406     7026113  1372.8779
12  Bolivia                  Americas  2002 63.883     8445134  3413.2627
13  Bosnia and Herzegovina   EU        2002 74.090     4165416  6018.9752
14  Botswana                 Africa    2002 46.634     1630347 11003.6051
15  Brazil                   Americas  2002 71.006   179914212  8131.2128
16  Bulgaria                 EU        2002 72.140     7661799  7696.7777
17  Burkina Faso             Africa    2002 50.650    12251209  1037.6452
18  Burundi                  Africa    2002 47.360     7021078   446.4035
19  Cambodia                 Asia      2002 56.752    12926707   896.2260
20  Cameroon                 Africa    2002 49.856    15929988  1934.0114
21  Canada                   Americas  2002 79.770    31902268 33328.9651
22  Central African Republic Africa    2002 43.308     4048013   738.6906
23  Chad                     Africa    2002 50.525     8835739  1156.1819
24  Chile                    Americas  2002 77.860    15497046 10778.7838
25  China                    Asia      2002 72.028  1280400000  3119.2809
26  Colombia                 Americas  2002 71.682    41008227  5755.2600
27  Comoros                  Africa    2002 62.974      614382  1075.8116
28  Congo, Dem. Rep.         Africa    2002 44.966    55379852   241.1659
29  Congo, Rep.              Africa    2002 52.970     3328795  3484.0620
30  Costa Rica               Americas  2002 78.123     3834934  7723.4472
<U+22EE>   <U+22EE>                 <U+22EE>  <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
113 Sierra Leone             Africa    2002 41.012    5359092    699.4897
114 Singapore                Asia      2002 78.770    4197776  36023.1054
115 Slovak Republic          EU        2002 73.800    5410052  13638.7784
116 Slovenia                 EU        2002 76.660    2011497  20660.0194
117 Somalia                  Africa    2002 45.936    7753310    882.0818
118 South Africa             Africa    2002 53.365   44433622   7710.9464
119 Spain                    EU        2002 79.780   40152517  24835.4717
120 Sri Lanka                Asia      2002 70.815   19576783   3015.3788
121 Sudan                    Africa    2002 56.369   37090298   1993.3983
122 Swaziland                Africa    2002 43.869    1130269   4128.1169
123 Sweden                   EU        2002 80.040    8954175  29341.6309
124 Switzerland              EU        2002 80.620    7361757  34480.9577
125 Syria                    Asia      2002 73.053   17155814   4090.9253
126 Taiwan                   Asia      2002 76.990   22454239  23235.4233
127 Tanzania                 Africa    2002 49.651   34593779    899.0742
128 Thailand                 Asia      2002 68.564   62806748   5913.1875
129 Togo                     Africa    2002 57.561    4977378    886.2206
130 Trinidad and Tobago      Americas  2002 68.976    1101832  11460.6002
131 Tunisia                  Africa    2002 73.042    9770575   5722.8957
132 Turkey                   EU        2002 70.845   67308928   6508.0857
133 Uganda                   Africa    2002 47.813   24739869    927.7210
134 United Kingdom           EU        2002 78.471   59912431  29478.9992
135 United States            Americas  2002 77.310  287675526  39097.0995
136 Uruguay                  Americas  2002 75.307    3363085   7727.0020
137 Venezuela                Americas  2002 72.766   24287670   8605.0478
138 Vietnam                  Asia      2002 73.017   80908147   1764.4567
139 West Bank and Gaza       Asia      2002 72.370    3389578   4515.4876
140 Yemen, Rep.              Asia      2002 60.308   18701257   2234.8208
141 Zambia                   Africa    2002 39.193   10595811   1071.6139
142 Zimbabwe                 Africa    2002 39.989   11926563    672.0386

---

## Refences

1. [dplyr: A Grammar of Data Manipulation](https://cran.r-project.org/web/packages/dplyr/index.html) on https://cran.r-project.org/.
2. [Data Transformation with splyr::cheat sheet](https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf).
3. [DPLYR TUTORIAL : DATA MANIPULATION (50 EXAMPLES)](https://www.listendata.com/2016/08/dplyr-tutorial.html) by Deepanshu Bhalla.
5. [Dplyr Intro](https://stat545.com/dplyr-intro.html) by Stat 545.
6.[R Dplyr Tutorial: Data Manipulation(Join) & Cleaning(Spread)](https://www.guru99.com/r-dplyr-tutorial.html). Introduction to Data Analysis
7. [Loan Default Prediction. Beginners data set for financial analytics Kaggle](https://www.kaggle.com/kmldas/loan-default-prediction)