---

author: Юрій Клебан

---

# Renaming columns with **`rename()`**

Before start load packages

In [2]:
library(dplyr) # for demos
#install.packages("gapminder")
library(gapminder)  # load package and dataset

`rename(.data, …)` rename columns.
Let's rename column `pop` to poulation:

In [4]:
gapminder |>
    rename(population = pop) |>
    head(10)

   country     continent year lifeExp population gdpPercap
1  Afghanistan Asia      1952 28.801   8425333   779.4453
2  Afghanistan Asia      1957 30.332   9240934   820.8530
3  Afghanistan Asia      1962 31.997  10267083   853.1007
4  Afghanistan Asia      1967 34.020  11537966   836.1971
5  Afghanistan Asia      1972 36.088  13079460   739.9811
6  Afghanistan Asia      1977 38.438  14880372   786.1134
7  Afghanistan Asia      1982 39.854  12881816   978.0114
8  Afghanistan Asia      1987 40.822  13867957   852.3959
9  Afghanistan Asia      1992 41.674  16317921   649.3414
10 Afghanistan Asia      1997 41.763  22227415   635.3414

Also check functions `rename_if` and `rename_at`.

---

## Refences

1. [dplyr: A Grammar of Data Manipulation](https://cran.r-project.org/web/packages/dplyr/index.html) on https://cran.r-project.org/.
2. [Data Transformation with splyr::cheat sheet](https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf).
3. [DPLYR TUTORIAL : DATA MANIPULATION (50 EXAMPLES)](https://www.listendata.com/2016/08/dplyr-tutorial.html) by Deepanshu Bhalla.
5. [Dplyr Intro](https://stat545.com/dplyr-intro.html) by Stat 545.
6.[R Dplyr Tutorial: Data Manipulation(Join) & Cleaning(Spread)](https://www.guru99.com/r-dplyr-tutorial.html). Introduction to Data Analysis
7. [Loan Default Prediction. Beginners data set for financial analytics Kaggle](https://www.kaggle.com/kmldas/loan-default-prediction)