---

author: Юрій Клебан

---

# Робота з неіменованими та "поганоіменованими" даними

## Іменування даних

Першим прикладом проблем у даних можна розгянути читання неіменованих даних, тобто стопці таблиці не мають заголовків у файлі.

Створимо такий файл у блокноті і зчитаємо його:

In [3]:
data <- read.csv("data/untitled.csv")
data

  X23 X185 X85.7 Male
1 41  175  68.3  M
2 11  142* 55.4  Female
3 12  NA   48.2  Man
4 54  171    NA  Looks like a man
5 32  168  78.0  F

Зверніть увагу, що у якості стовпців взято перший рядок даних у додано `X` на початку. Зчитаємо дані із параметром, що вказує на відсутність заголовків:

In [4]:
data <- read.csv("data/untitled.csv", header = FALSE)
data

  V1 V2   V3   V4
1 23 185  85.7 Male
2 41 175  68.3 M
3 11 142* 55.4 Female
4 12 NA   48.2 Man
5 54 171    NA Looks like a man
6 32 168  78.0 F

Проблема іменування не вирішена, дані ми уже не втратили. Передамо одночасно з читанням інформацію про назви стовпців:

In [11]:
data <- read.csv("data/untitled.csv", 
            header = FALSE,
            col.names = c("Age","Height", "Weight", "Gender"))
data

  Age Height Weight Gender
1 23  185    85.7   Male
2 41  175    68.3   M
3 11  142*   55.4   Female
4 12  NA     48.2   Man
5 54  171      NA   Looks like a man
6 32  168    78.0   F

Ще одним варіантом задання назв стовпців є використання функції `colnames()` як для усіх різом, так і для окремого:

In [13]:
colnames(data) <- c("age", "height", "width", "gender")
data
colnames(data)[2] <- "HEIGHT"
data

  age height width gender
1 23  185    85.7  Male
2 41  175    68.3  M
3 11  142*   55.4  Female
4 12  NA     48.2  Man
5 54  171      NA  Looks like a man
6 32  168    78.0  F

  age HEIGHT width gender
1 23  185    85.7  Male
2 41  175    68.3  M
3 11  142*   55.4  Female
4 12  NA     48.2  Man
5 54  171      NA  Looks like a man
6 32  168    78.0  F

Також змінювати назви стовпців можна за допомогою функції `rename()` з пакету `dplyr`:

In [15]:
library(dplyr)

data <- data |> rename(AGE = age)
data

  AGE HEIGHT width gender
1 23  185    85.7  Male
2 41  175    68.3  M
3 11  142*   55.4  Female
4 12  NA     48.2  Man
5 54  171      NA  Looks like a man
6 32  168    78.0  F

---

## Заміна назв стовпців data.frame <a class="anchor" id="id22">

Зчитаємо файл, що містить інформацію про осіб, але уже має іменовані стовпці:

In [16]:
data <- read.csv("data/badtitled.csv")
data

   Person.Age Person__Height person.Weight Person.Gender empty
1  23         185              NA          Male          NA
2  41         175            68.3             M          NA
3  11         142*           55.4          Female        NA
4  12         NA             48.2          Man           NA
5  54         191              NA          female        NA
6  32         168            78.0          F             NA
7  22         NA             54.0          male.         NA
8  21         165              NA          m             NA
9  14         NA             90.2          Man           NA
10 51         250              NA          female        NA
11 41         20             81.0          F             NA
12 66         NA             59.0          male.         NA
13 71         171              NA          m             NA

Швидко змінити назви стовпців та привести їх до однакового стилю можна за домогою бібліотеки `janitor`:

In [21]:
#install.packages("janitor")

In [22]:
library(janitor)
clean <- clean_names(data)
colnames(clean)

[1] "person_age"    "person_height" "person_weight" "person_gender"
[5] "empty"

---

## Набори даних

1. https://github.com/kleban/r-book-published/tree/main/datasets/untitled.csv
2. https://github.com/kleban/r-book-published/tree/main/datasets/badtitled.csv
3. https://github.com/kleban/r-book-published/tree/main/datasets/cleaned_titled.csv
4. https://github.com/kleban/r-book-published/tree/main/datasets/cleaned_titled2.csv
5. https://github.com/kleban/r-book-published/tree/main/datasets/river_eco.csv

---

## Використані та додаткові джерела

1. [KPMG Virtual Internship](https://www.insidesherpa.com/virtual-internships/m7W4GMqeT3bh9Nb2c)
2. [An introduction to data cleaning with R / Edwin de Jonge, Mark van der Loo, 2013](https://cran.r-project.org/doc/contrib/de_Jonge+van_der_Loo-Introduction_to_data_cleaning_with_R.pdf)
3. [Anomaly Detection in R](datacamp.com/courses/anomaly-detection-in-r)
4. [K-nearest Neighbor: The maths behind it, how it works and an example](https://medium.com/analytics-vidhya/k-nearest-neighbor-the-maths-behind-it-how-it-works-and-an-example-f1de1208546c)
5. [Quantile. Wikipedia](https://en.wikipedia.org/wiki/Quantile)