## EDA з dlookR

---

https://rpubs.com/linggaajiandika/EDA

## 00. Introduction
Exploratory Data Analysis (EDA) is the first step in data analysis process developed by “John Tukey” in the 1970s. In statistics, exploratory data analysis is an approach to analyzing data sets to summarize their main characteristics, often with visual methods.

> note: some processed data is skipped or ignored like cbind or selecting variable because it’s not the focus of this tutorial

## 01. Load Package

In [6]:
#install.packages("dlookr")

In [7]:
library(dplyr) #A Grammar of Data Manipulation
library(tibble) #modern take on data frames.
library(dlookr) #Tools for Data Diagnosis, Exploration, Transformation (main library)

## 02. Load Dataset
he dataste used is airquality which is already available in R, the airquality dataset is daily air quality measurements in New York, May to September 1973.

In [5]:
# View Data
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

## 03. Data Diagnosis
The first step is diagnosis from simple data

### 3.1 General Data Diagnosis

In [8]:
diagnose(airquality)

        variables types   missing_count missing_percent unique_count
Ozone   Ozone     integer 37            24.183007        68
Solar.R Solar.R   integer  7             4.575163       118
Wind    Wind      numeric  0             0.000000        31
Temp    Temp      integer  0             0.000000        40
Month   Month     integer  0             0.000000         5
Day     Day       integer  0             0.000000        31
        unique_rate
Ozone   0.44444444
Solar.R 0.77124183
Wind    0.20261438
Temp    0.26143791
Month   0.03267974
Day     0.20261438

- `variables` : variable names
- `types` : the data type of the variables
- `missing_count` : number of missing values
- `missing_percent` : percentage of missing values
- `unique_count` : number of unique values
- `unique_rate` : rate of unique value. unique_count / number of observation

### 3.2 Diagnose Numeric Variable
Only Numeric Variable

In [10]:
diagnose_numeric(airquality)

  variables min  Q1     mean       median Q3     max   zero minus outlier
1 Ozone      1.0  18.00  42.129310  31.5   63.25 168.0 0    0     2
2 Solar.R    7.0 115.75 185.931507 205.0  258.75 334.0 0    0     0
3 Wind       1.7   7.40   9.957516   9.7   11.50  20.7 0    0     3
4 Temp      56.0  72.00  77.882353  79.0   85.00  97.0 0    0     0
5 Month      5.0   6.00   6.993464   7.0    8.00   9.0 0    0     0
6 Day        1.0   8.00  15.803922  16.0   23.00  31.0 0    0     0

In [12]:
#diagnose_web_report(airquality)